.project
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.log
config.status
config/
configure
etc/Makefile
etc/Makefile.in
etc/wdbMetadata.sql
etc/wdb_dataprovider.sql
etc/wdb_namespace.sql
etc/wdb_parameter.sql
etc/wdb_party.sql
etc/wdb_placepoint.sql
etc/wdb_placeregulargrid.sql
etc/wdb_spatial_ref_sys.sql
install-sh
install/Makefile
install/Makefile.in
install/install_metadata
install/uninstall_metadata
missing

