/autom4te.cache
/aclocal.m4
/missing
/configure
/install-sh
/compile
/build
/Makefile.in
/test-driver
/.project
.autotools
.cproject
Makefile
config.log
config.status
etc/Makefile
etc/wdbMetadata.sql
etc/wdb_dataprovider.sql
etc/wdb_namespace.sql
etc/wdb_parameter.sql
etc/wdb_party.sql
etc/wdb_placepoint.sql
etc/wdb_placeregulargrid.sql
etc/wdb_spatial_ref_sys.sql
install/Makefile
install/install_metadata
install/uninstall_metadata

