Source: metno-wdb-metadata
Section: devel
Priority: extra
Maintainer: WDB Group, Meteorologisk institutt <wdb@met.no>
Uploaders: Michael O. Akinde <michael.akinde@met.no>
Build-Depends: debhelper (>= 7),
 cdbs,
 debconf,
 po-debconf,
 devscripts,
 autotools-dev,
 autoconf (>=2.61), 
 automake,
 xmlto
Standards-Version: 3.9.5

Package: metno-wdb-metadata-1.6
Architecture: any
Depends: ${misc:Depends},
 postgresql-client,
 wdb
Provides: metno-wdb-metadata
Replaces: metno-wdb-metadata
Description: This is the official met.no metadata package for the 
 WDB database. The purpose of this package is to ensure that the 
 database contains all relevant metadata for the loading and
 retrieval of all utilized met.no weather and water data. Note that
 metadata changes installed using this package cannot be rolled back
 (remove and purge have no effect).
