Source: metno-wdb-metadata
Section: devel
Priority: extra
Maintainer: Michael Akinde <wdb@met.no>
Build-Depends: debhelper (>= 5),
 debconf,
 po-debconf,
 devscripts,
 autotools-dev,
 autoconf (>=2.61), 
 automake,
 xmlto
Standards-Version: 3.9.1

Package: metno-wdb-metadata
Architecture: any
Depends: ${misc:Depends},
 postgresql-client (>=8.4.0),
 wdb (>=0.9.8)
Description: This is the official met.no metadata package for the 
 WDB database. The purpose of this package is to ensure that the 
 database contains all relevant metadata for the loading and
 retrieval of all utilized met.no weather and water data. Note that
 metadata changes installed using this package cannot be rolled back
 (remove and purge have no effect).
